/* Custom CSS for the website */

details {
    width: 100%;
    border: 1px solid #444444;
    border-radius: 4px;
    padding: 0.5em 0.5em 0em;
    margin-bottom: 1em;
}

details>summary {
    list-style-type: none;
    cursor: pointer;
}

details>summary::-webkit-details-marker {
    display: none;
}

/* Display the rocket emoji before the summary */
details>summary::before {
    content: '🚀';
    display: inline-block;
    transition: transform 0.2s ease; /* Add transition for smooth animation */
}

details[open]>summary {
    /*margin-bottom: 0.5em;*/
    border-bottom: 1px solid #444444;
}

/* Rotate the rocket emoji when the details element is open */
details[open]>summary::before {
    transform: rotate(90deg);
    display: inline-block; /* Add this line to ensure the rotation works correctly */
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
